// @import '_include-media.scss';
// @include media("<desktop") {

#loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  #loginGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 45%;
    #iconCard {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      #imgWrap {
        width: 28%;
        margin: auto;
        padding: .2rem;
        background-color: #eee;
        border-radius: 5px;
        img {
          display: block;
          width: 100%;
          max-width: 512px;
          height: auto;
          margin: auto;
        }
      }
    }
    #buttonFlex{
      display: flex;
      justify-content: center;
      .am-button {
        background-color: #9BD7FF;
        width: 40%;
        .am-button-active {
          background-color: #fff;
        }
      }
    }
  }
}