// @import '_include-media.scss';
// @include media("<desktop") {

#loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  #loginGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 45%;
    #iconCard {
      animation-name: fade-in-from-up;
      animation-duration: 1.5s;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      #imgWrap {
        width: 28%;
        margin: auto;
        padding: .2rem;
        background-color: #eee;
        border-radius: 5px;
        img {
          display: block;
          width: 100%;
          max-width: 512px;
          height: auto;
          margin: auto;
        }
      }
    }
    input {
      animation-name: fade-in;
      animation-duration: 2s;
    }
    #buttonFlex{
      animation-name: fade-in;
      animation-duration: 2s;
      display: flex;
      justify-content: center;
      .am-button {
        background-color: #9BD7FF;
        width: 40%;
        .am-button-active {
          background-color: #fff;
        }
      }
    }
  }
}

$animationDelay: 1;
@for $i from 1 through 15 {
	.loginGrid :nth-child(#{$i}) {
		animation-delay: #{0.3+($i)/30}s;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-from-up {
  0% { opacity: 0; transform: translateY(-100px)}
  100% { opacity: 1; }
}