#patient-info-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .submit-button {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    width: 100%;
    .am-list {
      min-width: 8em;
      width: 40%;
      max-width: 20em;
    }
  }
}
